.ComingSoonPage .ContentPage {
    text-align: center;
}

.ComingSoonPage .ContentPage .ComingSoonLottie {
    width: 315px;
    margin: 0 auto;
    position: relative;
    left: -28px;
    top: -16px;
}
