.CommunityPage .ContentPage .NotFoundLottie {
    width: 315px;
    margin: -53px auto -96px auto;
}

.CommunityPage .ContentPage .CityImage img {
    width: 100%;
    border-radius: 20px;
}

.ThemeDark .CommunityPage .ContentPage .CityImage img {
    opacity: 0.9;
}
