.ExpertsPage .ContentPage .NotFoundLottie {
    width: 315px;
    margin: -53px auto -96px auto;
}

.ExpertsPage .ContentPage .CityImage img {
    width: 100%;
    border-radius: 20px;
}

.ThemeDark .ExpertsPage .ContentPage .CityImage img {
    opacity: 0.9;
}

.ExpertsPage .ContentPage .MuiChip-root{
    color: white;
}

.ExpertsPage .ContentPage .MuiChip-root.Android {
    background-color: #008d41;
}

.ExpertsPage .ContentPage .MuiChip-root.Aurora_OS {
    background-color: #945bdb;
}

.ExpertsPage .ContentPage .MuiChip-root.Flutter {
    background-color: #5BC2F0;
}

.ExpertsPage .ContentPage .MuiChip-root.Kotlin {
    background-color: #40287F;
}

.ExpertsPage .ContentPage .MuiChip-root.iOS {
    background-color: #9d9d9d;
}
